.mainPost {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.countSet {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  margin: 5px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  margin: 0 15px 0 15px;
  font-size: 20px;
  color: aliceblue;
}

.miunsCount {
  background-color: brown;
}

.plusCount {
  background-color: green;
}

.resetCount {
  background-color: black;
}

p {
  font-weight: bold;
  font-size: 30px
}